.message {
    /*float: right;*/
    border: 2px solid red;
    padding: 10px;
    margin-top: 10px;
    background: #fddde3;
}

.message.logged {
    /*float: right;*/
    border: 2px solid green;
    background: beige;
    padding: 10px;
    margin-top: 10px;
}

.boxed {
    background: red;
}
